<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee    http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>viewlayer.ViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>viewlayer.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>viewlayer.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VehicleManagementServlet</servlet-name>
        <servlet-class>viewlayer.VehicleManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleManagementServlet</servlet-name>
        <url-pattern>/VehicleManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RouteStationManagementServlet</servlet-name>
        <servlet-class>viewlayer.RouteStationManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouteStationManagementServlet</servlet-name>
        <url-pattern>/RouteStationManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>viewlayer.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GPSOverviewServlet</servlet-name>
        <servlet-class>viewlayer.GPSOverviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GPSOverviewServlet</servlet-name>
        <url-pattern>/GPSOverviewServlet</url-pattern>
    </servlet-mapping>
    
    <!-->Start Ovi-->
    <servlet>
        <servlet-name>FuelMonitorServlet</servlet-name>
        <servlet-class>viewlayer.FuelMonitorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuelMonitorServlet</servlet-name>
        <url-pattern>/fuelmonitor</url-pattern>
        <!-- URL to view fuel consumption report -->
    </servlet-mapping>
    <!-- ReportServlet for various reports and analytics (FR-06) -->
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>viewlayer.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/reports</url-pattern>
        <!-- URL for various reports and analytics -->
    </servlet-mapping>
    <!-->End Ovi-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
